.container {
  margin: 0 auto;

  @media (min-width: map-get($breakpoints, lg)) {
    max-width: map-get($breakpoints, lg);
  }

  @media (min-width: map-get($breakpoints, xl)) {
    max-width: map-get($breakpoints, xl);
  }
}
