@font-face {
  font-family: 'font-regular';
  src: url('/Quicksand-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'font-bold';
  src: url('/Quicksand-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'title-bold';
  src: url('/PlayfairDisplay-Bold.ttf');
  font-display: swap;
}
