$primary: #2c98f0;
$grey-1: #d9dadb;
$grey-2: #383838;
$white: #fff;
$black: #000000;

// Responsive
$breakpoints: (
  xs: 479px,
  sm: 480px,
  md: 768px,
  lg: 1020px,
  xl: 1280px,
  xxl: 1440px,
  hd: 1920px,
);
